.PatientData {
  width: 100%;
  float: left;
  padding: 15px;

  .picture {
    width: 100%;
  }

  .dataFullName {
    font-size: 30px;
    color: white;
  }

  .dataOther {
    font-size: 20px;
    color: white;
  }

}