.Session {
  height: 100%;
  padding: 40px 0;

  .content {
    border-radius: 10px;
    height: 100%;
    background-color: rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    .microphone {
      z-index: 1;
    }

    .oval-active {
      z-index: 0;
    }
  }
}