.Session {
  height: 100%;
  padding: 40px 0;

  .content {
    border-radius: 10px;
    height: 100%;
    //background-color: rgba(0,0,0,0.1);
    .phrasePanel {
      position: absolute;
      z-index: 20;
      display: flex;
      margin-top: 180px;
      justify-content: center;
      width: 100%;
      height: 600px;
      color: white;
      font-size: 30px;
    }

    .microphonePanel {
      position: absolute;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 600px;
      .microphone {
        width: 100px;
      }
    }

    .oval-activePanel {
      position: absolute;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 600px;
      .oval-active {

        &.bigger {
          width: 135px;
          transition: width 0.1s ease, height 0.1s ease;
        }

        &.smaller {
          width: 120px;
          transition: width 0.1s ease, height 0.1s ease;
        }
      }
    }
  }
}